Package: com.creaturecoding.cspreferencesdemo
Name: CSPreferencesDemo
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: CreatureSurvive
Depiction: https://creaturesurvive.github.io/CSPreferences/
Author: CreatureSurvive
Section: Tweaks
